/* section.secret {
    background: rgba(50, 0, 121, 0.1);
} */

section.gm-secret {
    padding: 0 5px;
    background: rgba(121, 0, 53, 0.1);
    border-top: 1px solid var(--color-border-dark-5);
    border-bottom: 1px solid var(--color-border-dark-5);
}

/* section.secret:before {
    content: "secret";
    font-size: .9rem;
    font-weight: bolder;
    font-variant-caps: small-caps;
    opacity: .5;
} */

section.gm-secret:before {
    content: "gm secret";
    color: rgb(121, 0, 53);
    font-size: var(--font-size-13);
    font-weight: bolder;
    font-variant-caps: small-caps;
    opacity: .5;
}

/* body:not(.game-master) section.gm-secret {
    display: none;
} */
